:root {
    --primary-color: #4CAF50;
    --secondary-color: #388E3C; 
    --background-color: #F8F8F8;
    --text-color: #212121;
    --card-background: #FFFFFF;
    --border-color: #E0E0E0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 500px;
    background: var(--card-background);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
}

h1 {
    font-weight: 300;
    color: var(--secondary-color);
    margin-bottom: 5px;
    font-size: 2em;
}

p.subtitle {
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.upload-area {
    border: 2px dashed var(--border-color);
    padding: 30px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.upload-area:hover {
    border-color: var(--primary-color);
}

input[type="file"] {
    display: none; 
}

.upload-label {
    display: block;
    font-size: 1.1em;
    color: #757575;
    cursor: pointer;
}

#image-preview {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    object-fit: contain;
    border: 1px solid var(--border-color);
    margin-top: 15px;
    display: none;
}

button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--secondary-color);
}

button:disabled {
    background-color: #BDBDBD;
    cursor: not-allowed;
}


.result-box {
    margin-top: 30px;
    text-align: left;
    padding: 15px;
    background-color: #f0f4f0;
    border-radius: 8px;
    border-left: 5px solid var(--primary-color);
}

.result-box strong {
    font-weight: 500;
    display: inline-block;
    width: 150px;
}

#diagnosis {
    font-weight: 700;
    color: var(--secondary-color);
}

.status-loading {
    color: orange;
}

.status-error {
    color: red;
}

.setting-box {
    text-align: left;
    margin-bottom: 25px;
    padding: 10px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.setting-box label {
    display: block;
    margin-bottom: 10px;
    font-size: 0.95em;
    font-weight: 500;
    color: #555;
}

.hide {
    display: none;
}
